body {
  font-family: 'Work Sans', sans-serif;
  background-color: #33d3a3;
  font-family: 'Bungee', cursive;
  text-transform: uppercase;
}

.display-container {
  display: flex;
  width: 100%;
  display: inline-block;
  border-bottom: solid 5px black;
}

 #wraperVion {
  height: 100px;
  width: 100px;
  margin: 0 auto;
  padding: 3px;
  display:block;
  float: left;
}

#vion {
  background:  url(vion-logo.png);
  background-color: #33d3a3;
  background-blend-mode: darken;
  padding-right: 20px;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  background-size: cover;
  
}
#wraperICT {
  height: 100px;
  width: 100px;
  margin: 0 auto;
  padding: 3px;
  display:block;
  float: right;
}

#ict {
  background:  url(ICT-logo.jpg);
  background-color: #33d3a3;
  background-blend-mode: darken;
  padding-right: 20px;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  background-size: contain;
}

#title-text {
  border: 1px solid red;
  display: inline;
  padding-left: 3rem;
  padding-right: 3rem;
  margin-inline-start: 20%;
  font-size: 3rem;
}

.dis1 {
  padding: 1rem;
}

.dis2 {
  padding: 1rem;
}

.dis3 {
  padding: 1rem;
}

 .pingForm {
  display: none;
}

.pingButton {
  display: none;
}



@media screen and (max-width: 466px) {
  .title-text {
      content: 'PCC'
  }
}
